body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #6e56cb, #8655ca, #9c53c8, #af52c5, #c151c1);
}

table {
    background-color: rgb(250, 250, 250);
    width: 1200px;
    height: 600px;
    border: 5px solid #9c53c8;
    border-radius: 10px;

    thead {
        background-color: rgb(54, 48, 74);
        height: 50px;
    }
    
    th {
        border-radius: 5px;
        color: white;
    }
        
    td {
        text-align: center;
    }
}

input {
    margin: 10px 0px;
    border-radius: 5px;
    width: 20%;
    height: 20px;
    background-color: rgb(250, 250, 250);
}

div {
    margin: 10px 0px;

    .span-csv {
        margin: 5px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
        transition: 0.4s ease-in-out;
            &:hover {
                color: black;
            }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #9c53c8;
    color: #6e56cb;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: white;
    background: #6e56cb;
  }
  
  .pagination__link--disabled a {
    color: rgb(250,250,250);
    border: 1px solid #6d56cb62;
  }

  .download-pagination {
    display: flex;
    justify-content: space-between;
  }
